@import "compass/reset";
@import "compass/css3/font-face";
@import "compass/css3/transition";

@font-face{ font-family: 'lato'; src: url('../fonts/Lato-Regular.eot'); src: url('../fonts/Lato-Regular.eot?iefix') format('eot'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg#webfont') format('svg'); }
@font-face{ font-family: 'lato-bold'; src: url('../fonts/Lato-Bold.eot'); src: url('../fonts/Lato-Bold.eot?iefix') format('eot'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg#webfont') format('svg'); }

body {
    font-family: 'lato', Arial, sans-serif;
    overflow: hidden;

}

#map { position: absolute;  top: 0; left: 0; width:100%; height: 100%; }

#slides_container {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 110px;
    width: 550px;
    height: 100%; 
    background-color: rgba(196,195,184,0.7);
    color: #000;
    padding: 20px;
    padding-right: 30px;
    z-index: 100;
    &.visible {
        display: block !important;
    }

    .slide {
        width: 595px;;
        display: none;
        overflow-y: scroll;
        /*line-height: 1.5;*/
        /*padding: 20px;*/
        /*text-align: left;*/

        &.selected {
            display: block !important;
        }

        &.scrolled {
            img {
                /*margin: 20px 0;*/
                width: 100%;
            }
        }

        strong {
            font-family: 'lato-bold', Arial, sans-serif;
        }

        em {
            font-style: italic;
            /*line-height: 1.5;*/
        }
    }

    h1, h2, h3, h4, h5, h6{
        font-family: 'lato-bold', Arial, sans-serif;
        color: #333;
        font-size: 45px;
        // text-transform: uppercase;

        &:after{
            display: block;
            margin: 20px 0 20px 0;
            height: 1.5px;
            content: " ";
            text-shadow: none;
            background-color: #333;
            width: 140px;
        }
    }

    h2, h3, h4, h5, h6{
        font-size: 19px;

        &:after{
            height: 1px;
            margin: 18px 0 18px 0;
            width: 180px;
        }
    }


    p, span{
        font-family: 'lato', Arial, sans-serif;
        color: #000;
        font-size: 25px;
        line-height: 35px;
        margin: 15px;
    }

    a{
        color: #FF7373;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

#front_slide.hidden {
    display: none;
}

#dots{
    margin: 0 0 20px 0;

    li{
        display: inline;

        a{
            opacity: 0.2;
            color: #F97821;

            &:before {
                content: ' \25CF';
                font-size: 16px;
            }

            &.active{ opacity: 1; }
            &:hover{
                opacity: 1;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}



.leaflet-control-container  *{
    display: none;
}

.leaflet-control-container {
    display: none;
}

#slides_container img{
    position: static;
    display: block;
    z-index: 100;
    width: 500px;
    /*width: 98%;*/
    /*padding: 5px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
}

#slides_container iframe{
    /*padding-top: 50px;*/
    /*margin: auto;*/
    padding-left: 18px;
    text-align: center;
}
#slides_container p iframe{
    text-align: center;
}
#slides_container p{
    padding-right: 30px;
    
}

ul#navButtons{
    margin: 20px 0 0 0;

    li{
        width: 30px;
        display: inline;

        a{
            display: inline-block;
            width: 23px;
            height: 30px;
            background: transparent image-url("/offgrid-png-energy/images/navBtns.png") no-repeat -10px 0 ;
            &:hover{ background-position: -10px -30px; cursor: pointer;}

            &.next{
                background: transparent image-url("/offgrid-png-energy/images/navBtns.png") no-repeat -30px 0;
                &:hover{ background-position: -30px -30px;}
            }
        }
    }
}

div#credits{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: #FFF;
    z-index: 1000001;
    a {
        color: #ff7373;
    }
    span{
        padding: 18px 0 0 0;
        position: absolute;
        font-size: 12px;
        text-transform: uppercase;

        &.title{
            left: 40px;
            font-family: 'lato-bold', Arial, sans-serif;
            color: #333;
        }

        &.author{
            right: 40px;
            font-family: 'lato-bold', Arial, sans-serif;
            color: #999;
            letter-spacing: 2px;
            font-size: 10px;
            text-align: right;
        }

    }
}

.slide-tip {
    position: absolute;
    top: -18px;
    width: 3px;
    height: 37px;
    border: 3px solid transparent;
    border-top: 0;
    border-bottom-color: #ddd;
    text-align: center;

    &:hover {
        .tooltip {
            display: inline-block !important;
        }

        &:after {
            background: #ccc;
            width: 3px;
        }
    }

    &:after {
        content: "";
        display: inline-block;
        background: #ddd;
        width: 1px;
        height: 40px;
        @include transition(all .15s ease-in-out);
    }

    .tooltip {
        position: absolute;
        display: none;
        background: rgba(#000, 0.85);
        bottom: 50px;
        max-width: 200px;
        padding: 10px;
        margin-left: -17px;
        box-shadow: 0 0 1px rgba(#fff, .2);
        /*border-radius: 2px;*/
        color: #FFF;
        line-height: 1;
        text-align: left;
        font-size: 12px;
        white-space: nowrap;


        h1, p {
            height: auto;
            padding: 0;
            margin: 0;
            text-align: left;
            color: #EEE;
            font-weight: normal;
            line-height: 1.1;
            width: auto;
        }

        h1 {
            font-weight: bold;
            margin-bottom: 8px;
            font-size: 11px;
        }

        p {
            white-space: nowrap;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -5px;
            left: 10px;
            border-top: 5px solid rgba(#000, .85);
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
        }
    }
}


//test

#days{
    width: 100px;
    position: fixed;
    font-size: 14px;
    font-family: 'lato', Arial, sans-serif;
    left: 0px;
    top: 0px;
    z-index: 110;
    text-align: left;
    /*background-color: #3C3C3B;*/
    background-color: #B9CDB4;
    height: 100%;
    padding-left: 10px;
}

.rot90{
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); 
}
#days ul{
    text-align: left;
}
#days ul li.selected{
    color: #F97821;

}

#days ul li.selected *{
    color: #F97821;
    font-weight: bold;
        text-decoration: underline;
    

}
#days ul li{
    color: red;
    margin-top: 50px;
}

#days ul li a{
    color: white;
    text-decoration:none;
}


#progress{
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 100;
}
#progress li {
    display: inline-block;
}

#progress li a {
    display: block;
    width: 9px;
    height: 9px;
    margin: 10px;
    color: black;
    /*background: url(http://vizzuality.github.io/rollingstonesmap/img/timeBullet.png) 0 0 no-repeat;*/
}
#progress li a i red{

}
#progress li a i black{

}

#progress li.active a {
    color:red;
    /*background: url(http://vizzuality.github.io/rollingstonesmap/img/timeBullet.png) 0 -9px no-repeat;*/
}
.arrowBig{
    font-size: 30px;
    font-weight: bold;
    margin:10px;
}
.arrowBig:hover{
    color: red;
}


.iframe {
     position: absolute;
     
     z-index: 1;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0.5;
}


#dvLoading
{
   background:#000  no-repeat center center;
   opacity: 0.8;
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: 1000;
   /*left: 50%;*/
   /*top: 50%;*/
   
   margin: -25px 0 0 -25px;
}
#dvLoading i
{
   position: fixed;
   z-index: 1000;
   left: 50%;
   top: 50%;
   
   margin: -25px 0 0 -25px;
}
#map.cartodb-legend-stack {
    display: none;
    background-color: red;
}

.cartodb-logo *{
    display: none;
}